@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background: #40c9a2;
}

nav {
  height: 80px;
  display: flex;
  justify-content: flex-start;
  padding-left: 40px;
  align-items: center;
}

main {
  min-height: calc(100vh - 80px);
  background: #e6e6e6;
  border-radius: 32px  32px  0px  0px;
  padding: 40px;
  display: flex;
}

#folders {
  flex: 4;
  margin-right: 24px;
}

#tasks {
  flex: 8;
}

.card {
  background: rgb(250, 250, 250);
  box-shadow: 0px 10px 20px rgba(64, 68, 201, 0.2);
  border-radius: 24px;
  padding: 32px;
}
.folder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #b4f4d5;
  border-radius: 8px;
  padding: 16px 24px;
  color: #5e5e5e;
  margin-bottom: 24px;
}

.folder.active {
  background: #40c989;
  color: white;
  box-shadow: 0px 5px 10px #91ffe9;
}
.folder.active:hover {
  border: none;
}
.folder:hover {
  border: 1px solid #40c9b0;
  cursor: pointer;
}

.task {
  display: flex;
  background: #fcfcfc;
  padding: 16px 18px;
  justify-content: space-around;
  align-items: center;
  border-radius: 8px;
  margin-bottom: 24px;
}

.task-name {
  flex: 8;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.task-info {
  flex: 4;
  display: flex;
  justify-content: flex-end;
}
.task-info > * {
  margin-left: 20px;
  font-size: 12px;
}
.task-info > p {
  margin: auto;
  color: #40c9b7;
}

.badge {
  display: flex;
  padding: 4px 8px;
  border: 1px solid #00aa94;
  border-radius: 4px;
  color: #40c9b7;
}

.urgent {
  background: #ff2d11;
  color: white;
}
/* Forms */
form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
input{
  border: none;
}
input[type="text"] {
  flex: 1;
}
input[type="text"],
input[type="date"],
select {
  border: none;
  border-bottom: 2px solid #01b59d;
  margin: 0 24px;
  padding: 10px;
  
}

input[type="text"]:focus,
input[type="date"]:focus{
  background-color: #c0ffe6;
  
  border: none;
  
}

input[type="submit"] {
  border: none;
  border-radius: 12px;
  padding: 12px;
  color: white;
  background: #40c9b7;
}

input[type="submit"]:hover {
  box-shadow: 0px 5px 10px #98ece1;
}

#tasks input[type="submit"] {
  width: 40px;
}
/* Typography */
nav p {
  color: white;
}

nav span {
  font-weight: bold;
}
.done {
  text-decoration: line-through;
  color: #a0a0a0;
}
.task-name p {
  margin-left: 16px;
}

/*Icons*/

.delete,
.edit {
  cursor: pointer;
}

/*modal*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  margin: auto;
  padding: 36px;
  background-color: white;
}



@media screen and (max-width: 768px) {
  body {
    padding: 0;
  }
  
  main {
    flex-direction: column;
    padding: 24px;
    align-items: center;
  }
  
  #folders, #tasks {
    margin-right: 0;
    margin-bottom: 24px;
  }

  .card {
    padding: 10px;
    width: 350px;
  }
  
  form {
    flex-direction: column;
    margin-bottom: 16px;
  }

  input[type="text"], input[type="date"], select {
    width: 100%;
    margin: 8px 0;
  }
  
  #tasks input[type="submit"] {
    width: 100%;
  }
}






